
.header-court img{
    height:  48px;
    
}
.header-court .container{
    padding-top: 20px;
    padding-bottom: 20px;
}
.backgroundImage{
    background-image: url(rhc1.jpg);
    height: calc(100% - 88px);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  
}
